.lblcolor1 { color: #8a8a8a; font-size: 12px; font-family: "微软雅黑"; font-weight: 500; }
.lblcolor2 { color: #e02e24; font-size: 12px; font-family: "微软雅黑"; font-weight: 500; }
.bgcolor1 { color: #8a8a8a; font-weight: 500; }
.bgcolor2 { color: #e02e24; font-weight: 500; }
body { background-color: #ffffff; }
.mui-title { font-size: 16px; font-family: 'Microsoft YaHei'; font-weight: 700; }
