input:focus{
	border: 1px solid #009688; 
	box-shadow: 0 0 3px #009688; 
	outline: none;
}
select:focus{
	border: 1px solid #009688; 
	box-shadow: 0 0 3px #009688; 
	outline: none;
}
textarea:focus{
	border: 1px solid #009688; 
	box-shadow: 0 0 3px #009688; 
	outline: none;
}
.layui-layer-shade{
	background: white !important;
}